.outer_box {
  display: flex;
  flex-wrap: wrap;
}

.side_bar {
  background-color: #1e2640;
  width: 224px;
  height: 1482px;
}

.nav_top {
  width: 204px;
  height: 1380px;
  gap: 24px;
  background-color: #1e2640;
  margin: 10px 10px 10px 10px;
}

.company_icon {
  width: 192px;
  height: 42px;
  gap: 12px;
  background-color: #1e2640;
  margin: 0px 8px 0px 8px;
  display: flex;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: aliceblue;
}

.company_name {
  width: 108px;
  height: 22px;
  font-weight: 500;
  size: 15px;
  line-height: 22px;
  color: white;
}

.visit_store {
  width: 108px;
  height: 16px;
  opacity: 80%;
  font-weight: 400;
  size: 13px;
  line-height: 16px;
  color: white;
}

.down_arw {
  display: flex;
  align-items: center;
}

.nav_pages {
  width: 208px;
  height: 1314px;
  gap: 4px;
  margin: 10px;
}

.nav_pages_home {
  width: 208px;
  height: 36px;
  border-radius: 4px;
  padding: 8px, 16px, 8px, 16px;
  gap: 12px;
  display: flex;
  align-items: center;
}

.pages_text {
  font-weight: 500;
  size: 14px;
  line-height: 20px;
  color: #ffff;
  cursor: pointer;
}

.nav_bottom {
  width: 192px;
  height: 54px;
  position: relative;
  padding: 6px, 12px, 6px, 12px;
  border-radius: 4px;

  gap: 10px;
  background: rgba(53, 60, 83, 1);
  margin-left: 16px;
}

.nav_bottom_body {
  position: absolute;
  width: 149px;
  height: 42px;
  gap: 12px;
  margin-top: 6px;
  margin-left: 10px;
  display: flex;
}

.wallet {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.outline_wallet {
  width: 24px;
  height: 24px;
}

.wallet_icon {
  width: 23.65px;
  height: 19.6px;
  margin-top: 2.2px;
  margin-left: 0.2px;
}

.available_cred_box {
  width: 101px;
  height: 42px;
}

.available_cred_heading {
  width: 101px;
  height: 16px;
  opacity: 0.8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  margin-top: 0px;
  text-align: left;
  color: #ffff;
}

.credits {
  width: 51px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -12px;
  color: #ffffff;
}

.body {
  width: 1216px;
  left: 224px;
}

.header {
  height: 64px;
  width: 1216px;
  background-color: white;
  left: 224px;
  border: 0px 0px 1px 0px;
  display: flex;
  align-items: center;
}

.pmt_htu {
  position: relative;
  width: 360px;
  height: 22px;
  background-color: #ffff;
  display: flex;
  margin-left: 21px;
}

.dashboardtext {
  /* position: absolute; */
  width: 70px;
  height: 22px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 16px;
}

.htu_box {
  width: 94px;
  height: 16px;
  margin-top: 3px;
  display: flex;
}

.helpicon {
  /* position: absolute; */
  width: 14px;
  height: 14px;
  font-size: 12px;
  border-color: #1e2640;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 8px;
  cursor: pointer;
}

.htutxt {
  /* position: absolute; */
  width: 74px;
  height: 16px;
  color: #1e2640;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.searchbox {
  margin-left: 16px;
  width: 400px;
  height: 40px;
  border-radius: 3px;
  background: #f2f2f2;
  display: flex;
}

.searchicon {
  margin: 12px 6px 12px 12px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.search {
  border: none;
  width: 213px;
  height: 22px;
  margin-top: 8px;
}
#srch {
  width: 213px;
  height: 22px;
  border: none;
  background: #f2f2f2;
}

.social-icon-box {
  width: 360px;
  height: 40px;
  margin-left: 28px;
}

.icon-comp {
  width: 92px;
  height: 40px;
  margin-left: 268px;
  display: flex;
}

.icon-1 {
  width: 40px;
  height: 40px;
  background: #e6e6e6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-2 {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  background: #e6e6e6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.overview-body {
  display: flex;
  justify-content: center;
  align-self: center;
}

.overview {
  width: 1152px;
  height: 1354px;
  margin-top: 32px;
}

.overview-top {
  width: 1152px;
  height: 178px;
}

.overview-top-head {
  width: 1152px;
  height: 36px;

  display: flex;
  justify-content: space-between;
}

.headOvertxt {
  width: 91px;
  height: 28px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.lastmonthbox {
  width: 137px;
  height: 36px;
}
.lastmonth-group {
  display: flex;
  align-items: center;
  width: 137px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.lastmnthtxt {
  width: 86px;
  height: 26px;
  margin-top: 6px;
  margin-left: 14px;
}

.order-amnt {
  width: 1152px;
  height: 118px;
  display: flex;
  justify-content: space-between;
}

.order {
  width: 566px;
  height: 118px;
  border-radius: 4px;
  border: 1px solid #1a181e0a;
}

.order-frame {
  width: 526px;
  height: 78px;
  margin: 20px;
}

.order-txt {
  width: 130px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}

.no {
  width: 200px;
  height: 38px;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1b1e;
}
.amount {
  width: 566px;
  height: 118px;
  border-radius: 4px;
  border: 1px solid #1a181e0a;
}

.amnt-frame {
  width: 526px;
  height: 78px;
  margin: 20px;
}

.list-box {
  width: 152px;
  height: 1144px;
}

.trans-txt {
  width: 249px;
  height: 28px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1b1e;
}

.template {
  width: 1152px;
  height: 1096px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px #1a181e0a;
}

.search-col {
  margin: 12px 12px 0px 12px;
  width: 1128px;
  height: 92px;
}

.search-sort {
  width: 1128px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.search-box {
  width: 248px;
  height: 40px;
  display: flex;

  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
.search-icon {
  margin-left: 12px;
  margin-top: 13px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.seaarch {
  margin: 10px 16px 10px 8px;
  margin-left: 8px;
  width: 194px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

#srcch {
  width: 194px;
  border: none;
}

.sort-box {
  width: 127px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.sort {
  width: 79px;
  height: 36px;
  display: flex;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.sort-txt {
  width: 33px;
  height: 24px;
  margin: 6px 6px 6px 12px;
}

.sort-icon {
  width: 16px;
  height: 16px;
  margin: 10px 12px 10px 0px;
  cursor: pointer;
}

.downlaodicon {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.dwnicon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 8px;
}

.col {
  margin-top: 12px;
  width: 1128px;
  height: 40px;
  border-radius: 4px;
  background: #f2f2f2;
  display: flex;
}

.orderid-box {
  width: 246px;
  height: 20px;
  margin: 10px 40px 10px 12px;
}

.teext {
  width: 120px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.orderdate-box {
  margin: 10px 40px 10px 0px;
  width: 246px;
  height: 20px;
}

.text-icon {
  width: 84px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trig-icon {
  margin-top: -20px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}
.orderamnt-box {
  width: 246px;
  height: 20px;
  margin: 10px 40px 10px 0px;
}

.ammnt {
  margin-left: 153px;
}

.trnctfee-box {
  width: 246px;
  height: 20px;
  margin-top: 10px;
}

.text-iicon {
  width: 130px;
  height: 20px;
  margin-left: 116px;
  display: flex;
}

.tran-icon {
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.row {
  width: 1128px;
  height: 48px;
  border: 1px solid #D9D9D9;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  display: flex;
}

.id {
  margin: 14px 226px 14px 12px;
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #146eb4;
}

.date{
  margin: 14px 205px 14px 0px;
  width: 81px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #1A181E;

}

.amoount{
  width: 64px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: right;
  margin: 14px 40px 14px 177px ;
}

.fees{
  width: 25px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  margin: 14px 12px 14px 221px;
}

.pagination{
  width: 1128px;
  height: 56px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pagination-box{
  width: 610px;
  height: 32px;
  border-radius: 4px;
}
.pagination-group{
  display: flex;
  align-items: center;
}

.prev-box{
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  display: flex;
}

.prev-icon{
  width: 18px;
  height: 18px;
  margin: 7px 6px;
  
}
#isvg{
  margin: 3.75px 6px 3.75px 6px;
  
}
.prev-text{
  width: 58px;
  height: 20px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
margin: 5px 12px 6px 0px ;
}

.count-box{
  width: 388px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.one{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.dot{
margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}

.ten{
  border-radius: 2px;
  width: 28px;
  height: 28px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
background: #146EB4;
color: #ffff;

}
.eleven{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.twelve{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.thirteen{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.fourteen{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.fifteen{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.sixteen{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.seventeen{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.eighteen{
  margin-top: 4px;
  width: 28px;
  height: 20px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.next-icon{
  width: 18px;
  height: 18px;
  margin: 7px 6px;
}
#nsvg{
  margin: 3.75px 6px 3.75px 6px ;
}
.next-text{
  width: 58px;
  height: 20px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
margin: 5px 6px 6px 12px ;
}